---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="py-4 border-b border-gray-100 mb-8">
	<nav
		class="container mx-auto px-4 flex justify-between items-center font-mono"
	>
		<h2 class="text-xl font-medium">
			<a
				href="/"
				class="text-gray-800 hover:text-indigo-500 transition-colors"
			>
				{SITE_TITLE}
			</a>
		</h2>
		<div class="flex space-x-6">
			<HeaderLink
				href="/"
				class="text-gray-600 hover:text-indigo-500 transition-colors"
				>Home</HeaderLink
			>
			<HeaderLink
				href="/blog"
				class="text-gray-600 hover:text-indigo-500 transition-colors"
				>Blog</HeaderLink
			>
		</div>
	</nav>
</header>
